h1 {
    color: goldenrod;
    text-transform: uppercase;
    
}
body {
    text-align: center;
    font-weight: bold;
    background-color:#165829f8;
    color:#fff;
}
#message-el {
    font-style: italic;
}
#start-el {
    width: 150px;
    background-color: goldenrod;
    color: #fff;     
    text-transform: uppercase;
}
